.NewGameModalForm {
    .overlay {
        position: fixed;
        z-index: 998;
        background: #000;
        opacity: .7;
        left:0;
        top: 0;
        width:100vw;
        height: 100%;
    }
    
    .modal {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
        background: #fff;
        width: 250px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 999;
        padding: 10px;
        
        label{
            display: block;
        }
    }
}